# Node.js
node_modules/

# Stream Deck files
*.sdPlugin/bin
*.sdPlugin/logs
.cache
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build outputs
build/
dist/
backend/build/
backend/dist/
backend/venv/

*.streamDeckPlugin